* {
    margin: 0%;
    border-width: 0em;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    min-height: 200px;
    max-height: 400px; 
}

#header {
    font-family: sans-serif;
    font-size: 24pt;
    color: #F4F1BB;
    background-color: #ED6A5A;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
}

#Mari {
    height: auto;
    max-width: 30%;
    border-radius: 75px;
    border: solid #F4F1BB;
    display: flex;
    flex-shrink: 1;
}

#biography {
    background-color: #9BC1BC;
    color: black;
    padding: 20px;
}

h2 {
    color: black;
}

#portfolio {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 20px;
}

#port_cards {
    display: flex;
    justify-content: space-evenly;
}

.port_card {
    padding: 10px;
    border: solid #5CA4A9;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #5CA4A9;
    color: white;
  }